src/main/mule/choicerouter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="88dbd91d-aabd-4f7f-b18a-2a4115d711a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choicerouter-flow" doc:id="c5e8d4b0-2994-4cf7-805d-7925bf299108" >
		<http:listener doc:name="Listener" doc:id="2601e9bc-f74a-47c3-8ed8-183dc0943d5c" config-ref="HTTP_Listener_config" path="/choice"/>
		<logger level="INFO" doc:name="Logger" doc:id="63fbdd48-2945-470e-849c-00b6b98119fa" message="request received"/>
		<set-variable value="#[attributes.queryParams.company]" doc:name="Set Variable" doc:id="d4ab4edf-388d-4305-836d-ae80dcdf9dd8" variableName="company"/>
		<choice doc:name="Choice" doc:id="a827b575-17e0-4c11-be58-5308ffc4293a" >
			<when expression='#[vars.company == "Rgt"]'>
				<set-payload value="ashok" doc:name="Set Payload" doc:id="8baf6a35-c29a-402c-ba06-3d70c0901363" />
			</when>
			<when expression='#[vars.company == "tcs"]'>
				<set-payload value="lokesh" doc:name="Set Payload" doc:id="dfd1af16-dd9d-4c75-966b-f69f675afa19" />
			</when>
			<when expression='#[vars.company  == "zengeon"]'>
				<set-payload value="ashokcr" doc:name="Set Payload" doc:id="628c2fbb-add5-48fc-ac69-5d544fc9e019" />
			</when>
			<otherwise >
				<set-payload value="its from default one" doc:name="Set Payload" doc:id="454ba2fa-8970-4737-b352-6e00d4f85538" />
			</otherwise>
		</choice>
	</flow>
</mule>
